# Idea
.idea/*

# Gradle
.gradle
build

# TizilandBot
DiscordTizilandBot_*
tisilandbot/src/main/resources/application-dev.properties
tizilandbot/src/main/resources/application.properties

# Liquibase
liquibase/src/main/resources/dbconfig-dev.properties