# Idea
.idea/libraries
.idea/modules
.idea/jarRepositories.xml
.idea/libraries-with-intellij-classes.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

# Gradle
.gradle
build

# TizilandBot
/DiscordTizilandBot_*
src/main/resources/config-dev.properties
src/main/resources/config-prod.properties